<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="row">
      <div class = "col-xs-3">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">IMDB for CS Books</a>
      </div>
      </div>
      <div class = "col-xs-7">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to "Home", imdb_index_path%></li>
          <li><%= link_to "Ruby", imdb_index_path%></li>
          <li><%= link_to "Java", imdb_index_path%></li>
          <li><%= link_to "Python", imdb_index_path%></li>
          <li><%= link_to "Swap", imdb_index_path%></li>
        </ul>
      </div><!--/.nav-collapse -->
      </div>
      <% if !session[:imdb_user_id]%>
        <div class = "col-xs-1" >
          <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#registerModal">Register</button>
        </div>
        <div class = "col-xs-1">
          <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#loginModal">Sign In</button>
        </div>
      <% else %>
        <div class = "col-xs-1">
            <%= link_to "Profile", users_profile_path, :class => "middle"%>
        </div>
        <div class = "col-xs-1">
            <%= link_to "Sign Out", imdb_logout_path, :class => "middle"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
