<body>
  <div id="main-container" class="container">
    <div class="row text-center">
      <h1>IMDB for Computer Science Books</h1>
    </div>
    <div class="row text-center">
      <div id="leftsidebar" class="col-xs-6">
        <%= index_top%>
      </div>
      <div id="rightsidebar" class="col-xs-6">
        <div>
          <% if session[:imdb_user_id] %>
            <%= link_to "Logout", imdb_logout_path %><br>
          <% else %>
            <%= link_to "Login", imdb_login_path %><br>
            <%= link_to "Register", imdb_register_path %><br>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div align=center>
        <%= image_tag("homepage.png", :size =>"480x194") %><br>
      </div>
    </div>

    <div align="center">
      <%= form_tag("/search_box/search_results", method: "get", id:'search') do %>
      <%= text_field_tag(:terms) %>
      <%= submit_tag("Search") %>
      <% end %>
    </div>

  </div>
</body>
