<head>
  <style>
  canvas{
      width: 80% !important;
      max-width: 600px;
      height: auto !important;
  }
  </style>
  <script src="app/assets/libs/Chart.js-master/dist/Chart.js"></script>
</head>

<div class="header">
  <%= render 'top_menu'%>
</div>
<% if !flash[:notice].blank? %>
   <br><br>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<body>
  <div id = "page1" style = "background-color: #FFF;">
    <div id="page1-container" class="container-fullwidth">

      <div class="row text-center" height="80%" width = "100%">
        <br>
        <br>
        <br>
        <br>
        <br>
        <div align=center height="80%" width="100%">
          <%= image_tag(@logo_src,width:"50%", height:"50%") %>
        </div>
      </div>

      <div align="center" class = "row" height="15vh">
        <%= form_tag("/search_box/search_results", method: "get", id:'search') do %>
        <div class = "col-xs-2">
            <br>
            <br>
            <%= select_tag :tag, options_for_select(@dropdown_choices), class: 'form-control' %>
        </div>

        <div class = "col-xs-8">
          <div class = "search_box">
            <br>
            <br>
            <input name = "terms" class = "form-control"></input>
          </div>
        </div>

        <div class = "col-xs-2">
          <br>
          <br>
          <button type = "submit" class = "btn btn-primary">Search</button>
        </div>
        <% end %>
      </div>

      <div id = "arrow1" class = "row" align = "center" height="15vh">
        <a href="#page2" class = "smooth">
          <%= image_tag(@black_arrow_src, size: "50x50") %>
          <span class = "black_font smooth">New to coding? Check this out!</span>
        </a>
        <br>
        <br>
      </div>

    </div>
  </div>

  <div id = "page2" class = "fit_full_screen" style = "background-color: #000;">
    <div id = "page3_container" class = "container">
      <div class = "row" align = "center">
        <%=image_tag("pl_trends.jpg", :width => "100%")%>
      </div>


    </div>
  </div>
  <div class = "row" align = "center">
    <br>
    <br>
    <a href="#page3">
      <%= image_tag(@black_arrow_src, size: "50x50") %>
      <span class = "black_font">Even More Information!</span>
    </a>
    <br>
    <br>
  </div>
<div id = "page3" height = "100vh" width = "100vh" style = "background-color: #FFF;">
    <div id = "page2_container" class = "container">

      <div class = "row" align = "center" width = "100vh">
        <div>
        <canvas id="myChart" width="20" height="20"></canvas>
      </div>
        <script>
          var ctx = $("#myChart");
          var data = {
    labels: ["AVG. Salary", "Popularity", "", "AVG. Learning Time", "Difficulty", "Appeared Time", "#Books"],
    datasets: [
        {
            label: "Java",
            backgroundColor: "rgba(179,181,198,0.2)",
            borderColor: "#ff9933",
            pointBackgroundColor: "#ff9933",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
            data: [65, 59, 90, 81, 56, 55, 100]
        },
        {
            label: "C",
            backgroundColor: "rgba(179,181,198,0.2)",
            borderColor: "#000099",
            pointBackgroundColor: "#000099",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
            data: [65, 59, 90, 81, 56, 55, 95]
        },
        {
            label: "C++",
            backgroundColor: "rgba(179,181,198,0.2)",
            borderColor: "#0000ff",
            pointBackgroundColor: "#0000ff",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
            data: [65, 59, 90, 81, 56, 55, 90]
        },
        {
            label: "C#",
            backgroundColor: "rgba(179,181,198,0.2)",
            borderColor: "#6600cc",
            pointBackgroundColor: "#6600cc",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
            data: [65, 59, 90, 81, 56, 55, 85]
        },
        {
            label: "Python",
            backgroundColor: "rgba(179,181,198,0.2)",
            borderColor: "#669900",
            pointBackgroundColor: "#669900",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
            data: [65, 59, 90, 81, 56, 55, 80]
        },
        {
            label: "PHP",
            backgroundColor: "rgba(179,181,198,0.2)",
            borderColor: "#3399ff",
            pointBackgroundColor: "#3399ff",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
            data: [65, 59, 90, 81, 56, 55, 75]
        },
        {
            label: "JavaScript",
            backgroundColor: "rgba(179,181,198,0.2)",
            borderColor: "#e6b800",
            pointBackgroundColor: "#e6b800",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
            data: [65, 59, 90, 81, 56, 55, 70]
        },
        {
            label: "Perl",
            backgroundColor: "rgba(179,181,198,0.2)",
            borderColor: "#9999ff",
            pointBackgroundColor: "#9999ff",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
            data: [65, 59, 90, 81, 56, 55, 65]
        },
        {
            label: "Ruby",
            backgroundColor: "rgba(255,99,132,0.2)",
            borderColor: "#ff5050",
            pointBackgroundColor: "#ff5050",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(255,99,132,1)",
            data: [28, 48, 40, 19, 96, 27, 60]
        },
        {
            label: "Visual Basic .NET",
            backgroundColor: "rgba(179,181,198,0.2)",
            borderColor: "rgba(179,181,198,1)",
            pointBackgroundColor: "rgba(179,181,198,1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
            data: [65, 59, 90, 81, 56, 55, 55]
        },
        {
            label: "Delphi",
            backgroundColor: "rgba(179,181,198,0.2)",
            borderColor: "rgba(179,181,198,1)",
            pointBackgroundColor: "rgba(179,181,198,1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
            data: [65, 59, 90, 81, 56, 55, 50]
        },
        {
            label: "Assembly language",
            backgroundColor: "rgba(179,181,198,0.2)",
            borderColor: "rgba(179,181,198,1)",
            pointBackgroundColor: "rgba(179,181,198,1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
            data: [65, 59, 90, 81, 56, 55, 45]
        },
        {
            label: "Objective-C",
            backgroundColor: "rgba(179,181,198,0.2)",
            borderColor: "rgba(179,181,198,1)",
            pointBackgroundColor: "rgba(179,181,198,1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
            data: [65, 59, 90, 81, 56, 55, 40]
        },
        {
            label: "Visual Basic",
            backgroundColor: "rgba(179,181,198,0.2)",
            borderColor: "rgba(179,181,198,1)",
            pointBackgroundColor: "rgba(179,181,198,1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
            data: [65, 59, 90, 81, 56, 55, 35]
        },
        {
            label: "Swift",
            backgroundColor: "rgba(179,181,198,0.2)",
            borderColor: "rgba(179,181,198,1)",
            pointBackgroundColor: "rgba(179,181,198,1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
            data: [65, 59, 90, 81, 56, 55, 30]
        },
        {
            label: "Matlab",
            backgroundColor: "rgba(179,181,198,0.2)",
            borderColor: "rgba(179,181,198,1)",
            pointBackgroundColor: "rgba(179,181,198,1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
            data: [65, 59, 90, 81, 56, 55, 25]
        },
        {
            label: "PL/SQL",
            backgroundColor: "rgba(179,181,198,0.2)",
            borderColor: "rgba(179,181,198,1)",
            pointBackgroundColor: "rgba(179,181,198,1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
            data: [65, 59, 90, 81, 56, 55, 20]
        },
        {
            label: "R",
            backgroundColor: "rgba(255,99,132,0.2)",
            borderColor: "rgba(255,99,132,1)",
            pointBackgroundColor: "rgba(255,99,132,1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(255,99,132,1)",
            data: [28, 48, 40, 19, 96, 27, 15]
        },
        {
            label: "Groovy",
            backgroundColor: "rgba(179,181,198,0.2)",
            borderColor: "rgba(179,181,198,1)",
            pointBackgroundColor: "rgba(179,181,198,1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
            data: [65, 59, 90, 81, 56, 55, 10]
        }
    ]
};

          new Chart(ctx, {
              type: "radar",
              data: data,
              options: {
                      scale: {
                          reverse: true,
                          ticks: {
                              beginAtZero: true
                          }
                      }
              }
          });
        </script>

        <br>
        <br>
      </div>


    </div>
  </div>

  <div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Welcome and Please Login</h4>
        </div>
        <div class="modal-body">
          <div>
            <%= @login_error %>
          </div>
          <div align = center>
            <%= form_tag("/imdb/login", method: "get") do %>
              <%= label_tag(:q_username, "Username")%>
              <%= text_field_tag(:username) %><br>
              <%= label_tag(:q_password, "Password")%>
              <%= password_field_tag(:password) %><br>
              <%= submit_tag("Login")%>
            <% end %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<script>
  $(function() {
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>


</body>
