<h1 align=center>IMDB for Computer Science Books!!!</h1>

<div style="margin-left:auto;margin-right:2px;width:80px;">
  <%= link_to "Login", imdb_login_path %><br>
  <%= link_to "Register", imdb_register_path %><br>
  <%= link_to "Result", imdb_result_path %><br>
  <%= link_to "Detail", imdb_detail_path %><br>
</div>

<div align=center>
  <%= image_tag("homepage.png", :size =>"480x194") %><br>
</div>

<div align=center>
  <span>
    <input type="Textbox" name="mid" style="height:50px;width:400px;text-align:center;"/>
  </span>
  <button type="submit" style="height:50px; width:80px; margin-left:5px">Search</button>
</div>
