<div>
  <%= render 'top_menu'%>
</div>

<% if !flash[:notice].blank? %>
   <br><br>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>
<body>
  <div id = "page1" class = "page_height" style = "background-color: #FFF;">
    <div id="page1-container" class="container">

      <div class="row text-center">
        <br>
        <br>
        <br>
        <br>
        <br>
        <div align=center>
          <%= image_tag(@logo_src, size: "844x270") %>
        </div>
      </div>

      <div align="center" class = "row">
        <%= form_tag("/search_box/search_results", method: "get", id:'search') do %>
        <div class = "col-xs-2">
            <br>
            <br>
            <%= select_tag :tag, options_for_select(@dropdown_choices), class: 'form-control' %>
        </div>

        <div class = "col-xs-8">
          <div class = "search_box">
            <br>
            <br>
            <input name = "terms" class = "form-control"></input>
          </div>
        </div>

        <div class = "col-xs-2">
          <br>
          <br>
          <button type = "submit" class = "btn btn-primary">Search</button>
        </div>
        <% end %>
      </div>

      <div class = "row" align = "center">
        <a href="#page2" class = "smooth">
          <%= image_tag(@black_arrow_src, size: "50x50") %>
          <span class = "black_font smooth">New to coding? Check this out!</span>
        </a>
        <br>
        <br>
      </div>

    </div>
  </div>

  <div id = "page2" class = "page_height" style = "background-color: #FFF;">
    <div id = "page2_container" class = "container">

      <div class = "row" align = "center">
        <%=image_tag "pl_trends.jpg", :class =>  "width100"%>
        <br>
        <br>
      </div>

      <div class = "row" align = "center">
        <p class = "black_font"> Get started now!</p>
      </div>

      <div class = "row" align = "center">
        <div class="btn-group btn-group-lg" role="group" aria-label="...">
          <button type="button" class="btn btn-default" style = "background-color: #ff9933; color: #FFF;">Java</button>
          <button type="button" class="btn btn-default" style = "background-color: #000099; color: #FFF;">C</button>
          <button type="button" class="btn btn-default" style = "background-color: #0000ff; color: #FFF;">C++</button>
          <button type="button" class="btn btn-default" style = "background-color: #6600cc; color: #FFF;">C#</button>
          <button type="button" class="btn btn-default" style = "background-color: #669900; color: #FFF;">Python</button>
          <button type="button" class="btn btn-default" style = "background-color: #3399ff; color: #FFF;">PHP</button>
          <button type="button" class="btn btn-default" style = "background-color: #e6b800; color: #FFF;">JavaScript</button>
          <button type="button" class="btn btn-default" style = "background-color: #9999ff; color: #FFF;">Perl</button>
          <button type="button" class="btn btn-default" style = "background-color: #ff5050; color: #FFF;">Ruby</button>
          <button type="button" class="btn btn-default" style = "background-color: #808080; color: #FFF;">Visual Basic .NET</button>
        </div>
      </div>

      <div class = "row" align = "center">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default">Delphi</button>
          <button type="button" class="btn btn-default">Assembly Language</button>
          <button type="button" class="btn btn-default">Objective-C</button>
          <button type="button" class="btn btn-default">Visual Basic</button>
          <button type="button" class="btn btn-default">Swift</button>
          <button type="button" class="btn btn-default">MATLAB</button>
          <button type="button" class="btn btn-default">PL/SQL</button>
          <button type="button" class="btn btn-default">R</button>
          <button type="button" class="btn btn-default">Groovy</button>
        </div>
      </div>

      <div class = "row" align = "center">
        <br>
        <br>
        <a href="#page3">
          <%= image_tag(@black_arrow_src, size: "50x50") %>
          <span class = "black_font">Ultimate solution here</span>
        </a>
        <br>
        <br>
      </div>

    </div>
  </div>

  <div id = "page3" class = "page_height" style = "background-color: #000;">
    <div id = "page3_container" class = "container">
      <div class = "row" align = "center">
        <%=image_tag("pl_trends.jpg", class: "width100")%>
      </div>

      <div class = "row" align = "center">
        <a href="#page1">
          <%= image_tag(@white_arrow_src, size: "50x50") %>
          <span class = "white_font">Credit & About</span>
        </a>
      </div>

    </div>
  </div>

  <div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Welcome and Please Login</h4>
        </div>
        <div class="modal-body">
          <div>
            <%= login_error %>
          </div>
          <div align = center>
            <%= form_tag("/imdb/login", method: "get") do %>
              <%= label_tag(:q_username, "Username")%>
              <%= text_field_tag(:username) %><br>
              <%= label_tag(:q_password, "Password")%>
              <%= password_field_tag(:password) %><br>
              <%= submit_tag("Login")%>
            <% end %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script>
  $(function() {
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>


</body>
