<head>
  <style>
  canvas{
      width: 80% !important;
      max-width: 600px;
      height: auto !important;
  }
  </style>
  <script src="app/assets/libs/Chart.js-master/dist/Chart.js"></script>
</head>

<div class="header">
  <%= render 'top_menu'%>
</div>
<% if !flash[:notice].blank? %>
   <br><br>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>


<head>
<style text="text/javascript">
canvas{
    width: 100% !important;
    max-width: 600px;
    height: auto !important;
}

body { padding:0px; margin:0px; }
.page1 { width: 100%; height: 100%; }
.page2 { height: 100%; width: 100%; }
.page3 { height: 100%; width: 100%; }
div#full {
    height: 100vh;
    width: 100vh;
}
</style>

<script src="app/assets/libs/Chart.js-master/dist/Chart.js"></script>


</head>



<body>
  <div id = "page1" style = 'height:85%; width:100vh; margin-top: 10%'>
    <div id="page1-container" class="container">

      <div class="row text-center">
        <div align=center>
          <%= image_tag(@logo_src, size: "844x270") %>
        </div>
      </div>

      <div align="center" class = "row">
        <%= form_tag("/search_box/search_results", method: "get", id:'search') do %>
        <div class = "col-xs-2">
            <br>
            <br>
            <%= select_tag :tag, options_for_select(@dropdown_choices), class: 'form-control' %>
        </div>

        <div class = "col-xs-8">
          <div class = "search_box">
            <br>
            <br>
            <input name = "terms" class = "form-control"></input>
          </div>
        </div>

        <div class = "col-xs-2">
          <br>
          <br>
          <button type = "submit" class = "btn btn-primary">Search</button>
        </div>
        <% end %>
      </div>


      <div class = "row" align = "center">
        <a href="#page2" class = "smooth">
          <%= image_tag(@black_arrow_src, size: "50x50") %>
          <span class = "black_font smooth">New to coding? Check this out!</span>
        </a>
      </div>

    </div>
  </div>




  <div id = "page2" style = 'height:85%; width:100vh'>
    <div id = "page2_container" class = "container">
      <div class = "row" align = "center" style = 'height:85vh'>
        <%=image_tag("pl_trends.jpg", :height => "100%", :width => "100%")%>
      </div>
    </div>

    <div class = "row" class="text-center">
      <a href="#page3">
        <%= image_tag(@black_arrow_src, size: "50x50") %>
        <span class = "black_font">Even More Information!</span>
      </a>
    </div>
  </div>


<div id = "page3" style = 'height:85%; width:100vh; margin-top:15vh'>
    <div id = "page2_container" class = "container">

      <div class = "row" align = "center">
        <div>
        <canvas id="myChart" width="200" height="200"></canvas>
      </div>
        <script>
          var ctx = $("#myChart");

          var data = {

    labels: ["AVG. Salary", "Popularity", "Trend", "New Watchers of GitHub", "Active Repo of GitHub", "Total Pushes of Github ", "#Books"],
    datasets: [
        {
            label: "Java",
            borderWidth: 2,
            backgroundColor: "rgba(255, 209, 179, 0.2)",
            borderColor: "#ff6600",
            pointBackgroundColor: "#ff6600",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
            data: [91.07, 100, 100, 37.68, 68.79, 67.12, 100]
        },
        {
            label: "C",
            borderWidth: 2,
            backgroundColor: "rgba(179, 179, 255,0.2)",
            borderColor: "#000099",
            pointBackgroundColor: "#000099",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
            data: [88.39, 66.70, 26.06, 37.44, 22.56, 23.24, 94.43]
        },
        {
            label: "C++",
            borderWidth: 2,
            backgroundColor: "rgba(179, 179, 255,0.2)",
            borderColor: "#0000ff",
            pointBackgroundColor: "#0000ff",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
            data: [91.07, 28.39, 34.97, 34.84, 26.70, 29.29, 92.86]
        },
        {
            label: "C#",
            borderWidth: 2,
            backgroundColor: "rgba(217, 179, 255,0.2)",
            borderColor: "#6600cc",
            pointBackgroundColor: "#6600cc",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
            data: [82.14, 18.21, 33.74, 28.86, 17.31, 16.13, 89.29]
        },
        {
            label: "Python",
            borderWidth: 2,
            backgroundColor: "rgba(230, 255, 179,0.2)",
            borderColor: "#669900",
            pointBackgroundColor: "#669900",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
            data: [91.07, 15.97, 53.67, 34.54, 50.89, 47.79, 85.71]
        },
        {
            label: "PHP",
            borderWidth: 2,
            backgroundColor: "rgba(179, 217, 255,0.2)",
            borderColor: "#3399ff",
            pointBackgroundColor: "#3399ff",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
            data: [77.68, 14.36, 46.32, 28.74, 42.84, 40.20, 82.14]
        },
        {
            label: "JavaScript",
            borderWidth: 2,
            backgroundColor: "rgba(255, 240, 179,0.2)",
            borderColor: "#e6b800",
            pointBackgroundColor: "#e6b800",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
            data: [83.04, 12.31, 38.42, 58.33, 100, 100, 78.57]
        },
        {
            label: "Perl",
            borderWidth: 2,
            backgroundColor: "rgba(179, 179, 255,0.2)",
            borderColor: "#9999ff",
            pointBackgroundColor: "#9999ff",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
            data: [89.29, 12.11, 59.69, 19.50, 5, 3.61, 75]
        },
        {
            label: "Ruby",
            borderWidth: 2,
            backgroundColor: "rgba(255,99,132,0.2)",
            borderColor: "#ff5050",
            pointBackgroundColor: "#ff5050",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(255,99,132,1)",
            data: [91.07, 11.25, 60.80, 35.75, 41.01, 31.96, 71.43]
        },



        {
            label: "Objective-C",
            borderWidth: 2,
            backgroundColor: "rgba(179,181,198,0.2)",
            borderColor: "rgba(179,181,198,1)",
            pointBackgroundColor: "rgba(179,181,198,1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
            data: [91.96, 8.21, 0, 67.63, 11.29, 7.21, 57.14]
        },

        {
            label: "Swift",
            borderWidth: 2,
            backgroundColor: "rgba(255, 217, 179, 0.2)",
            borderColor: "#ff9933",
            pointBackgroundColor: "#ff9933",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
            data: [100, 7.09, 53.23, 100, 3.44, 1.87, 53.57]
        },
        {
            label: "Matlab",
            borderWidth: 2,
            backgroundColor: "rgba(194, 240, 240, 0.2)",
            borderColor: " #33cccc",
            pointBackgroundColor: " #33cccc",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
            data: [83.04, 6.45, 47.44, 14.98, 1.87, 1.58, 50]
        },

        {
            label: "R",
            borderWidth: 2,
            backgroundColor: "rgba(198, 236, 198, 0.2)",
            borderColor: "#339933",
            pointBackgroundColor: "#339933",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(255,99,132,1)",
            data: [8.39, 6.07, 49.22, 19.08, 10.58, 4.73, 42.86]
        }
    ]
};

          new Chart(ctx, {
              type: "radar",
              data: data,

              options: {

                      scale: {
                          reverse: false,
                          ticks: {

                              beginAtZero: true
                          }

                      }
              }
          });
        </script>

        <br>
        <br>
      </div>


    </div>
  </div>

  <div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Welcome and Please Login</h4>
        </div>
        <div class="modal-body">
          <div>
            <%= @login_error %>
          </div>
          <div align = center>
            <%= form_tag("/imdb/login", method: "get") do %>
              <%= label_tag(:q_username, "Username")%>
              <%= text_field_tag(:username) %><br>
              <%= label_tag(:q_password, "Password")%>
              <%= password_field_tag(:password) %><br>
              <%= submit_tag("Login")%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  $(function() {
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>


</body>
