<h1 id='title1'>IMDB for Computer Science Books</h1>

<div>
  <%= login_error %>
</div>
<div align = center>
  <%= form_tag("login", method: "get") do %>
    <%= label_tag(:q_username, "Username")%>
    <%= text_field_tag(:username) %><br>
    <%= label_tag(:q_password, "Password")%>
    <%= password_field_tag(:password) %><br>

    <%= submit_tag("Login1")%>

    <% end %>
</div>
