<div align=center>
  <%= link_to "IMDB Homepage", imdb_login_path %>
</div>
<h1 align=center>Search Result</h1>

<div style="width:1000px;height:500px;overflow:hidden;">

  <div style="float:left;dispaly:block;width:300px;height:400px;">
    <%= image_tag("java.jpg", :size =>"300x300") %>
    <div style="width:300px;height:50px;">
      <button type="button" style="float:left; width:90px; height:50px; margin-left:5px; margin-top:5px">tag1</button>
      <button type="button" style="float:left; width:90px; height:50px; margin-left:5px; margin-top:5px">tag2</button>
      <button type="button" style="float:left; width:90px; height:50px; margin-left:5px; margin-top:5px">tag3</button>
    </div>
  </div>

  <div style="float:left;dispaly:block;width:300px;height:400px;margin-left:10px;margin-left:50px;">
    <span style="float:left;display:block;font-size:20px;color:#0000ff;width:250px;height:30px;">
      <%= @book_name %>
    </span>
    <span style="float:left;display:block;font-size:20px;color:#ff0000;width:50px;height:30px;">
      <%= @book_rating %>
    </span>
    <p style="display:block;width:100%;height:370px;">
      <%= @book_description %>
    </p>
  </div>

  <div style="float:left;dispaly:block;width:300px;height:400px;margin-left:50px;">
    <span style="font-size:20px;color:#0000ff;">Comments from the forum:</span>
    <p style="display:block;width:100%;height:100px;"> "first post" </p>
    <p style="display:block;width:100%;height:100px;"> "second post" </p>

    <div style="width:300px;height:50px;">
      <button type="button" style="float:left; width:140px; height:50px; margin-left:5px; margin-top:5px">buy</button>
      <button type="button" style="float:left; width:140px; height:50px; margin-left:5px; margin-top:5px">swap</button>
    </div>

  </div>



</div>
