
<% @comments.each do |c|%>
  <div class="row">
    <div class="col-sm-1">
      <!-- <img src="/images/obama.jpg" class="img-circle" height="165" width="165" alt="Avatar"> -->
      <%if find_userphoto(c.user_id)%>
        <img src=<%=find_userphoto(c.user_id).attachment_url%> class="img-circle" height="60" width="60">
      <%else%>
        <img src="/images/unknown_user.png" class="img-circle" height="60" width="60">
      <%end%>
    </div>

    <div class="col-sm-11">
      <h4 ><%=c.title%></h4>
      <h5><span class="glyphicon glyphicon-time"></span> <%= find_displayname(c.user_id)%>, <%=c.created_at %></h5>
      <p style="color:black"><%=c.body%></p>
    </div>
  </div>
  <hr>
<% end %>
