<div class="row">
  <div class="col-md-3">
    <div>
      <%= image_tag(@book.image_url,:size=>"210x280")%>
    </div>
    <div class="btn-group">
      <%find_booktags(@book.id).find_each do |tag|%>
      <button type="button" class="btn btn-primary" id="button-margin01">
        <%= tag.name%>
      </button>
      <%end%>
    </div>
    <div>
      <br>
      <%= render "show_like"%>
    </div>
  </div>
  <div class="col-md-9">
    <div align=center>
      <p id="booktitle"><%= @book.title %></p>
    </div>
    <div align=right>
      <p id="bookauthor"><%= @book.author %></p>
    </div>
    <div >
      <p id="bookdescription"><%= @book.description %></p>
    </div>
  </div>
</div>
