<div id="user_like">
<%if @status == 'dislike'%>
  <%= form_tag("/search_box/like", method: "post") do %>
    <span class="glyphicon glyphicon-star-empty" aria-hidden="true" id = "star"></span>
    <%= hidden_field_tag :id, @book.id%>
    <%=submit_tag "Like", :id => "like_submit" %>
  <%end%>
<%else%>
  <%= form_tag("/search_box/like", method: "post") do %>
    <span class="glyphicon glyphicon-star" aria-hidden="true" id = "star"></span>
    <%= hidden_field_tag :id, @book.id%>
    <%=submit_tag "Disike", :id => "like_submit" %>
  <%end%>
<%end%>
</div>

<script>
$("#user_like").css("color","red");
</script>
