<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Example</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="//books.google.com/books/previewlib.js"></script>
  <style>
  body {
    position: relative;
  }
  #section1 {padding-top:50px;height:100%;color: #fff; background-color: #1E88E5;}

  </style>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/imdb/index">IMDB Homepage</a>
      </div>
      <div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <form class="navbar-form navbar-right" role="search" action="/search_box/search_results" method="get">
            <div class="form-group input-group">
              <input type="text" class="form-control" placeholder="Search.." name="terms">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <%if session[:imdb_user_id] %>
            <li>
              <%if find_userphoto(session[:imdb_user_id])%>
                <img src=<%=find_userphoto(session[:imdb_user_id]).attachment_url%> class="img-circle" height="50" width="50">
              <%else%>
                <img src="/images/unknown_user.png" class="img-circle" height="50" width="50">
              <%end%>
            </li>
            <li>
              <div class="col-xs-2 dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><%=@user.display_name%>
                  <span class="caret"></span>
                </button>
                  <ul class="dropdown-menu">
                    <li><%= link_to "My profile", users_profile_path, :class => "middle"%></li>
                    <li><%= link_to "Sign Out", imdb_logout_path, :class => "middle"%></li>
                  </ul>
              </div>
            </li>
            <%end%>
          </ul>
          <ul class="nav navbar-nav">
            <!-- <li><a href="#section1">Book Information</a></li> -->
            <li><%= link_to "Details",controller: "search_box", action: "sectiondetail", id: @book.id, remote:true%></li>
            <li><%= link_to "Comments",controller: "search_box", action: "sectioncomment", id: @book.id, remote:true%></li>
            <li><%= link_to "Preview",controller: "search_box", action: "preview", id: @book.id %></li>
            <% if session[:imdb_user_id]%>
              <li><%= link_to "Swap",controller: "swap", action: "swaphome", id: @book.id%></li>
            <% end %>
          </ul>

        </div>
      </div>
    </div>
  </nav>

  <div id="section1" class="container-fluid">
    <% if @section_target%>
      <%= render @section_target%>
    <% else %>
      <%= render "section_detail"%>
    <%end%>
  </div>

</body>
</html>
