<h1>Search Results</h1>
<p>Original Query: "<%=@original_query_string%>" <br>
Searching For: "<%=@processed_query_string%>"
</p>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Publish date</th>
      <th>Description</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.publish_date %></td>
        <td><%= book.description %></td>
        <td><%= link_to 'Show', book %></td>
      </tr>
    <% end %>
  </tbody>
</table>