<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script>
	var pageSize = 10;    //the number of records every page shows
	var curPage=0;        //current page
	var lastPage;        //last page
	var direct=0;        //page change direction
	var len;            //totle number of records
	var page;            //totle number of pages
	var begin;
	var end;

	$(document).ready(function display(){
	  len = <%=@results.length%>    // the total number of result records
	  page=len % pageSize==0 ? len/pageSize : Math.floor(len/pageSize)+1;//calculate the page numebr
	  // alert("page==="+page);
	  curPage=1;    // make current page the first page
	  displayPage();//display the first page

	  document.getElementById("btn0").innerHTML="Viewing Page " + curPage + " of " + page + "";    // show the current page
	  document.getElementById("sjzl").innerHTML="" + len + " Results Found";        // show the total result number


	  $("#btn1").click(function firstPage(){    // first page
	    curPage=1;
	    direct = 0;
	    displayPage();
	  });
	  $("#btn2").click(function frontPage(){    // pre page
	    direct=-1;
	    displayPage();
	  });
	  $("#btn3").click(function nextPage(){    // next page
	    direct=1;
	    displayPage();
	  });
	  $("#btn4").click(function lastPage(){    // last page
	    curPage=page;
	    direct = 0;
	    displayPage();
	  });
	});

	function displayPage(){
			if(curPage <=1 && direct==-1){
					direct=0;
					alert("already the first page");
					return;
			} else if (curPage >= page && direct==1) {
					direct=0;
					alert("already the last page");
					return ;
			}

			lastPage = curPage;

			// fix the bug: when len=1, curPage= 0
			if (len > pageSize) {
					curPage = ((curPage + direct + len) % len);
			} else {
					curPage = 1;
			}

			begin=(curPage-1)*pageSize;// starting number of page to be shown
			end = begin + 1*pageSize - 1;    // ending number of page to be shown

    document.getElementById("btn0").innerHTML="Viewing Page " + curPage + " of " + page + "";    // show the current page
    document.getElementById("sjzl").innerHTML="" + len + " Results Found";           // show the total result number

			if(end > len ) end=len;
			$("#searchresult tr").hide();    // first hide all records
			$("#searchresult tr").each(function(i){    // then according to the condition to decide which pages to be shown
			  if(i>=begin && i<=end)// show the record between : begin<=x<=end
					$(this).show();
			});

	 }

	</script>
</head>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/imdb/index">IMDB Homepage</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <!-- <ul class="nav navbar-nav">
        <li><a href="#">Ruby</a></li>
        <li><a href="#">JAVA</a></li>
        <li><a href="#">Python</a></li>
        <li><a href="#">C++</a></li>
        <li><a href="#">HTML</a></li>
      </ul> -->
      <form class="navbar-form navbar-right" role="search" action="/search_box/search_results" method="get">
        <div class="form-group input-group">
          <input type="text" class="form-control" placeholder="Search.." name="terms">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Profile", users_profile_path %></li>
      </ul>
    </div>
  </div>
</nav>

<body>
  <div class="well">
    <h2 align=center>Search Result</h2>
    <div align ="right">
      <span id="btn0"></span><br>
  	  <span id="sjzl"></span><br>
  	  <button class="btn btn-primary"  href="#" id="btn1"> << </button>
  	  <button class="btn btn-primary"  href="#" id="btn2"> < </button>
  	  <button class="btn btn-primary"   href="#" id="btn3"> > </button>
  	  <button class="btn btn-primary"   href="#" id="btn4"> >> </button>
    </div>
    <br>

    <!-- here is the beginning of book information list-->

    <table id="searchresult">
      <% @results.each do |book| %>
      <tr>
      <td>
        <div class="well">
          <div class="row">

          <div class="col-md-4">
            <div>
              <%= link_to image_tag(book.image_url, :size=>"250x250"), url_for({:controller => 'search_box', :action => 'book_detail', :book_id => book.id})%>
            </div>
            <div class="btn-group">
              <%find_booktags(book.id).find_each do |tag|%>
              <button type="button" class="btn btn-primary" id="button-margin01">
                <%=tag.name%>
              </button>
              <%end%>
            </div>
          </div>

          <div class="col-md-4">

            <div align=center>
              <p id="p1"><%= book.title %></p>
            </div>
            <div align=center>
              <p id="p2"><%= book.author %></p>
            </div>

            <div align=center>
              <p id="p3"><%= book.description %></p>
              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#<%=book.ISBN%>">More Details</button>

              <!-- Modal -->

              <div id="<%=book.ISBN%>" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                      <p id="p4"><%= book.description %></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
              </div>


            </div>
          </div>

          <div class="col-md-4" align=center>
            <div >
              <p id="p1">Comments:</p>
            </div>

            <div >
              <p id="p2">firstpost</p>
            </div>

            <div >
              <p id="p2">secondpost</p>
            </div>

            <div class="btn-group">
              <button type="button" class="btn btn-primary" id="button-margin01">Buy</button>
              <button type="button" class="btn btn-primary" id="button-margin01">Swap</button>
            </div>

          </div>
          </div>
        </div>
      </td>
      </tr>
      <% end %>
    </table>
  </div>
</body>
