
<div class="row">

  <div class="col-md-1" id="twosides">
    <%= image_tag("blue.jpg",:height=>"1000px",:width=>"80px") %>
  </div>

  <div class="col-md-10">
    <div align=center>
      <%= link_to "IMDB Homepage", imdb_index_path %>
    </div>
    <h2 align=center>Search Result</h2>

    <div >
      <div class="col-md-3">
        <div>
          <%= image_tag(@book_image, :size =>"250x250") %>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-primary" id="button-margin01">
            <%= @tag1 %>
          </button>
          <button type="button" class="btn btn-primary" id="button-margin01">
            <%= @tag2 %>
          </button>
          <button type="button" class="btn btn-primary" id="button-margin01">
            <%= @tag3 %>
          </button>
        </div>
      </div>

      <div class="col-md-4">
        <div align=left>
          <p id="p1"><%= @book_name %></p>
        </div>
        <div align=right>
          <p id="p2"><%= @book_rating %></p>
        </div>
        <div>
          <p id="p3"><%= @book_description %></p>
        </div>
      </div>

      <div align=left class="col-md-3">
        <div >
          <p id="p1">Comments:</p>
        </div>

        <div >
          <p id="p2"><%= @firstpost %></p>
        </div>

        <div >
          <p id="p2"><%= @secondpost %></p>
        </div>

        <div class="btn-group">
          <button type="button" class="btn btn-primary" id="button-margin01">Buy</button>
          <button type="button" class="btn btn-primary" id="button-margin01">Swap</button>
        </div>


      </div>
    </div>
  </div>

  <div class="col-md-1" id="twosides">
    <%= image_tag("blue.jpg",:height=>"1000px",:width=>"80px") %>
  </div>

</div>
