<p id="notice"><%= notice %></p>

<%= link_to 'Forums', forums_path%> > <%= link_to @forum.name, forum_path(@forum)%> > <%=@post.title%>

<h1><%= @post.title %></h1>
<h4>Original Question</h4>
<%=@post.content%><br>
-posted by <%=User.find(id=@post.user_id).display_name%><br>
<%=@post.created_at.strftime('%I:%M%p on %m/%d/%Y')%>

<% if @user_id != 'no_user' %>
    <br><br>
    <%= render 'postreplies/form', :locals => {:post => @post} %>
    <br><br>
<%end%>


<h4> Replies: </h4>
<% @post.postreplies.each do |pr| %>
    <%=pr.content%><br>
    -reply by <%=User.find(id=pr.user_id).display_name%><br> 
    <%=pr.created_at.strftime('%I:%M%p on %m/%d/%Y')%>
    <br><br>
<%end%>
